homeassistant:
  name: Home
  latitude: !secret home_lat
  longitude: !secret home_lon
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: !secret time_zone
  customize: !include_dir_merge_named customize
  customize_glob: !include customglob.yaml
  packages: !include_dir_named packages
config:
http:
  api_password: !secret api_password
  base_url: !secret base_url
  trusted_networks:
    - 127.0.0.1
    - 192.168.1.0/24
    - 192.168.86.0/24
    - ::1
updater:
discovery:
ios:
conversation:

duckdns:
  domain: mikeeast
  access_token: !secret duckdns_token

# ########################################
# ###                GUI               ###
# ########################################
map:
frontend:
 
# ########################################
# ###              LOGGING             ###
# ########################################

recorder: !include recorder.yaml
history: !include history.yaml
logbook: !include logbook.yaml
logger: !include logger.yaml


###########################################
###                 HUBS                ###
###########################################

emulated_hue:
  exposed_domains:
    - light

hue:
  bridges:
    - host: 192.168.86.46
      allow_unreachable: true
      allow_hue_groups: true

tradfri:
  host: 192.168.86.49
  allow_tradfri_groups: true

zwave:
  usb_path: /dev/ttyACM0
#  new_entity_ids: true

# ########################################
# ###              ENTITES             ###
# ########################################

alert: !include alert.yaml
verisure:
  username: !secret verisure_id
  password: !secret verisure_secret

media_player: !include media_players.yaml
sensor: !include_dir_merge_list sensor
binary_sensor: !include_dir_merge_list binary_sensors
scene: !include_dir_merge_list scene
input_select: !include_dir_merge_named input_select
device_tracker: !include device_tracker.yaml
camera: !include cameras.yaml  
zone: !include zones.yaml

# ########################################
# ###             SERVICES             ###
# ########################################

sun:
tts:
  - platform: google_translate
    service_name: google_say
google:
  client_id: !secret google_calendar_client_id
  client_secret: !secret google_calendar_client_secret 
alexa:
automation: !include_dir_merge_list automation
notify: !include notify.yaml
python_script:
group: !include_dir_merge_named group/

system_health:

  