homeassistant:
  name: Home
  latitude: !secret home_lat
  longitude: !secret home_lon
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: !secret time_zone
  customize: !include_dir_merge_named customize
  #customize_glob: !include customglob.yaml
  packages: !include_dir_named packages
config:
http:
  api_password: !secret http_password
  base_url: !secret base_url
  trusted_networks:
    - 127.0.0.1
    - 192.168.1.0/24
    - ::1
 
updater:
discovery:
conversation:
frontend:

# ########################################
# ###              LOGGING             ###
# ########################################

recorder: !include recorder.yaml
history: !include history.yaml
logbook: !include logbook.yaml
logger: !include logger.yaml
sun:

tts:
  - platform: google

########################################
###               HUBS               ###
########################################
zwave:
  usb_path: /dev/ttyACM0
  new_entity_ids: true


# ########################################
# ###              ENTITES             ###
# ########################################

verisure:
  username: !secret verisure_id
  password: !secret verisure_secret

media_player: !include media_player.yaml

sensor: !include_dir_merge_list sensor
binary_sensor: !include_dir_merge_list binary_sensors
device_tracker: !include device_tracker.yaml

zone:
  - name: School
    latitude: !secret school_lat
    longitude: !secret school_lon
    icon: mdi:code-braces
    radius: 500

  - name: Work
    latitude: !secret work_lat
    longitude: !secret work_lon
    icon: mdi:briefcase
    radius: 300

# ########################################
# ###             SERVICES             ###
# ########################################

automation: !include_dir_merge_list automation
notify: !include notify.yaml
python_script:
script:
group: !include_dir_merge_named group/